h1 {
    font-size: 2em;
}

li {
    display: inline;
    margin: 1em;
}

main {
    height: 110vh;
}

main > div > img {
    margin-bottom: .1em;
    width: 15%;
}

main > p {
    margin: 1em;

}

main > form {
    width: 10em;
    border: 1em solid whitesmoke;
    margin: 5em auto;
}

#userinfo {
    text-align: left;
    width: 15em;
    border: .5em solid gray;
    margin: 5em auto;
}
main > div > div {
    float: left;
    text-align: left;
    width: 15em;
    border: .5em solid gray;
    margin: 5em auto;
}


main > div > p {
    margin-bottom: .1em;
}

footer{
    float: right;
}