<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to CodeFellowship</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>What is CodeFellowship? [[${principle}]]</h1>
        <ul>
            <li>
                <a href="/signup">Sign Up HERE</a>
            </li>
            <li>
                <a href="/login">Login Here</a>
            </li>
            <li>
                <a href="/myprofile">Your Profile</a>
            </li>
            <li>
                <a href="/logout">Logout Here</a>
            </li>
        </ul>

    </header>
    <main>
    <p>CodeFellowship allows people learning to code to connect with each
        other and support each other on their coding journeys.</p>
        <p>NOT FACEBOOK</p>
    </main>
    <footer>
        <ul class="copyright">
            <li>&copy; Phong Doan. All rights reserved.</li>
        </ul>
    </footer>
</body>
</html>