<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to CodeFellowship</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header th:insert="~{fragments/header :: header}">
    </header>
    <main>
        <h2>About CodeFellowship</h2>
    <p>CodeFellowship allows people learning to code to connect with each
        other and support each other on their coding journeys.</p>
        <p>NOT FACEBOOK</p>
    </main>
    <footer th:insert="~{fragments/footer :: footer}">
    </footer>
</body>
</html>