<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:insert="~{fragments/header :: header}">
</header>
    <main>
        <form action="/login" method="post">
            Username: <input type="text" name="username">
            Password: <input type="password" name="password">
            <button type="submit">Submit</button>
        </form>
    </main>
    <footer th:insert="~{fragments/footer :: footer}">
    </footer>
</body>
</html>