<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Login please</h1>
        <ul>
            <li>
                <a href="/signup">Sign Up HERE</a>
            </li>
            <li>
                <a href="/login">Login Here</a>
            </li>
            <li>
                <a href="/myprofile">Your Profile</a>
            </li>
            <li>
                <a href="/logout">Logout Here</a>
            </li>
        </ul>

    </header>
    <main>
        <form action="/login" method="post">
            Username: <input type="text" name="username">
            Password: <input type="password" name="password">
            <button type="submit">Submit</button>
        </form>
    </main>
    <footer>
        <ul class="copyright">
            <li>&copy; Phong Doan. All rights reserved.</li>
        </ul>
    </footer>
</body>
</html>