<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:insert="~{fragments/header :: header}">
</header>
    <main>
        <h2>Sign Up</h2>
        <h2>Make new users here</h2>
        <form action="/signup" method="POST">
            UserName: <input type="text" name="username">
            Password: <input type="password" name="password">
            First Name: <input type="text" name="firstName">
            Last Name: <input type="text" name="lastName">
            Date of Birth: <input type="date" name="dateOfBirth">
            Bio: <textarea name="bio" rows="10" cols="30"></textarea>
            <button type="submit">Submit</button>
        </form>
    </main>
    <footer th:insert="~{fragments/footer :: footer}">
    </footer>
</body>
</html>