<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Sign Up</h1>
        <ul>
            <li>
                <a href="/signup">Sign Up HERE</a>
            </li>
            <li>
                <a href="/login">Login Here</a>
            </li>
            <li>
                <a href="/myprofile">Your Profile</a>
            </li>
            <li>
                <a href="/logout">Logout Here</a>
            </li>
        </ul>
    </header>
    <main>
        <h2>Make new users here</h2>
        <form action="/signup" method="POST">
            UserName: <input type="text" name="username">
            Password: <input type="password" name="password">
            First Name: <input type="text" name="firstName">
            Last Name: <input type="text" name="lastName">
            Date of Birth: <input type="date" name="dateOfBirth">
            Bio: <textarea name="bio" rows="10" cols="30"></textarea>
            <button type="submit">Submit</button>
        </form>
    </main>
    <footer>
        <ul class="copyright">
            <li>&copy; Phong Doan. All rights reserved.</li>
        </ul>
    </footer>
</body>
</html>