<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Sign Up</h1>

<h2>Make new users here</h2>
<form action="/signup" method="POST">
    UserName: <input type="text" name="username">
    Password: <input type="password" name="password">
    First Name: <input type="text" name="firstName">
    Last Name: <input type="text" name="lastName">
    Date of Birth: <input type="date" name="dateOfBirth">
    Bio: <input type="text" name="bio">
    <button type="submit">Submit</button>
</form>
</body>
</html>