<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>Welcome, [[${principle}]]. This is [[${username}]]'s profile</h1>
    <ul>
        <li>
            <a href="/signup">Sign Up HERE</a>
        </li>
        <li>
            <a href="/login">Login Here</a>
        </li>
        <li>
            <a href="/logout">Logout Here</a>
        </li>
    </ul>

</header>
<main>
    <h2>Name: [[${firstName}]]</h2>
    <p>Last Name: [[${lastName}]]</p>
    <p>Date of Birth: [[${dateOfBirth}]]</p>
    <p>Bio: [[${bio}]]</p>
</main>
<footer>
    <ul class="copyright">
        <li>&copy; Phong Doan. All rights reserved.</li>
    </ul>
</footer>
</body>
</html>