<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>Welcome. This is [[${username}]]'s profile</h1>
    <ul>
        <li>
            <a href="/signup">Sign Up HERE</a>
        </li>
        <li>
            <a href="/login">Login Here</a>
        </li>
    </ul>

</header>
<main>
    <p>Place Holder for user info</p>
</main>
<footer>
    <ul class="copyright">
        <li>&copy; Phong Doan. All rights reserved.</li>
    </ul>
</footer>
</body>
</html>